@import './Colors.css';

.marketplace-container {
  font-family: Arial, sans-serif;
  background-color: var(--color-bg);
  padding: 20px;
  text-align: center;
}

.marketplace-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
  color: white; /* Ensure text color is white for contrast */
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.marketplace-header h1 {
  display: flex;
  align-items: center;
  color: white; /* Ensure text color is white for contrast */
}

.marketplace-header h1 .fa-store {
  margin-right: 10px;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.nav-button, .logout-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.nav-button:hover, .logout-button:hover {
  background-color: #0056b3;
}

.marketplace-main {
  margin-top: 20px;
}

.products-section {
  margin-top: 20px;
}

.product-list {
  list-style-type: none;
  padding: 0;
}

.product-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.product-info {
  margin-bottom: 10px;
}

.order-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-popup-content {
  display: flex;
  flex-direction: column;
}

.order-popup-content label {
  margin-bottom: 10px;
}

.order-popup-content button {
  margin-top: 10px;
}