/* Define CSS variables scoped to the user-dashboard class */

@import './Colors.css';

.user-dashboard {
  --primary-color: var(--color-primary);
  --primary-hover-color: var(--color-hover);
  --text-color: var(--color-accent);
  --section-background-primary-color: rgba(224, 240, 238, 0.932);
  --section-background-secondary-color: rgba(221, 234, 255, 0.6);
  --item-background-color: #ffffff;
  --item-hover-background-color: #f1f1f1;
  --item-text-color: #333;
  --color-bg: var(--color-bg);
  --color-accent: var(--color-accent);

  padding: 20px;
  border-radius: 15px;
  min-height: 100vh; /* Ensure the background covers the full viewport height */
  color: var(--text-color);
  background-color: var(--section-background-primary-color);
}

.user-dashboard h1 {
  color: var(--text-color);
}

.user-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: var(--color-primary);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
}

.nav-button, .logout-button {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: var(--color-secondary);
  color: var(--text-color);
  transition: background-color 0.3s ease;
}

.nav-button:hover, .logout-button:hover {
  background-color: var(--primary-hover-color); /* Use hover color from Colors.css */
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-button {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border: none;
  background-color: #575757;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tab-button.active {
  background-color: var(--color-primary);
  color: var(--text-color);
}

.tab-button:hover {
  background-color: var(--primary-hover-color); /* Use hover color from Colors.css */
  color: var(--text-color);
}

.profile-section, .goal-section, .available-tasks-section, .transaction-history-section {
  margin-bottom: 20px;
  background-color: var(--section-background-secondary-color); /* Semi-transparent background */
  padding: 20px;
  border-radius: 10px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  border: 3px solid var(--text-color); /* Add a white border around the profile picture */
}

.tasks-list-container {
  max-height: 300px;
  overflow-y: auto;
}

.tasks-list, .transaction-list {
  list-style-type: none;
  padding: 0;
}

.task-item, .transaction-item {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: var(--item-background-color);
  color: var(--item-text-color); /* Dark text color for better readability */
}

.task-item:hover, .transaction-item:hover {
  background-color: var(--item-hover-background-color);
}

.transaction-history-section {
  max-height: 400px;
  overflow-y: auto;
}

.transaction-item p {
  margin: 5px 0;
}